/*Resume CSS*/
body {
    background-color: #a17bd1;
    color: #5c3798;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#resumeMainHeader {
    background-color: #5c3798;
    color: #be8afa;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#resumeNavbar {
    background-color: goldenrod;
    color: white;
    margin-bottom: 0;
}

    #resumeNavbar ul {
        padding: 0;
        list-style: none;
    }

    #resumeNavbar li {
        display: inline;
    }

    #resumeNavbar a {
        color: #5c3798;
        text-decoration: none;
        font-size: 18px;
        padding-right: 15px;
    }

#realmwalker {
    font-size: 20px;
}

#realmwalkerLink:hover {
    color: goldenrod;
}

#showcase {
    background-image: url('astral.webp');
    background-position: bottom;
    min-height: 100px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 0;
    box-sizing: content-box;
}

    #showcase h2 {
        font-size: 26px;
        line-height: 1.6em;
        padding-top: 30px;
    }

.resumeMain {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.resumeJourneys p {
    font-style: italic;
}

.resumeJourneys #journey {
    padding: 10px 15px;
    background-color: #5c3798;
    color: goldenrod;
    border: none;
    border-radius: 6px;
}

    .resumeJourneys #journey:hover {
        background-color: goldenrod;
        color: #5c3798;
    }

#resumeSidebar {
    font-family: 'Ink Free';
    color: goldenrod;
    float: right;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

#list {
    List-style-type: circle;
}

#ele-visir {
    width: 300px;
    border-radius: 18px;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    height: 2px;
    background-color: goldenrod;
}

#resumeFriends {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-collapse: collapse;
    margin-bottom: 45px;
}

    #resumeFriends caption {
        padding: 6px;
    }

    #resumeFriends thead, th, td {
        border: 1.5px solid goldenrod;
        padding: 3px;
        text-align: left;
    }

#mainFooter {
    background: #702eb2;
    color: #be8afa;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px) {
    .resumeMain {
        width: 100%;
        float: none;
    }

    #resumeSidebar {
        width: 100%;
        float: none;
    }
}
/*End of Resume CSS*/

/*Cover Letter CSS*/
.coverLetterMain {
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.container #coverLetterSecOne {
    margin-top: 50px;
    line-height: 10px;
}

    .container #coverLetterSecOne h3 {
        font-size: 20px;
    }

    .container #coverLetterSecOne P {
        font-size: 15px;
    }

#coverLetterSecTwo #coverLetterFinal {
    line-height: 10px;
    font-family: 'Ink Free';
    color: goldenrod;
    font-size: 20px;
}

#deepCosmos {
    font-style: italic;
    font-weight: bold;
}

#coverLetterSidebar {
    font-family: 'Ink Free';
    color: goldenrod;
    float: left;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;
}

    #coverLetterSidebar p {
        line-height: 9px;
    }

    #coverLetterSidebar #eleSidebar {
        font-size: 40px;
    }


@media(max-width:600px) {
    .coverLetterMain {
        width: 100%;
        float: none;
    }

    #coverLetterSidebar {
        width: 100%;
        float: none;
    }
}
/*End of Cover Letter CSS*/

/*Career Goals*/
#careerShowcase {
    background-image: url('space.jpg');
    background-position: center;
    min-height: 100px;
    margin-bottom: 10px;
    text-align: center;
}

    #careerShowcase h2 {
        font-size: 26px;
        line-height: 1.6em;
        padding-top: 30px;
        color: goldenrod;
        margin-top: 0;
    }

#kurz {
    float: left;
    width: 55%; /* Keep just one */
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 2px;
    border-right: 2px solid goldenrod;
    text-align: center;
}

    #kurz video {
        max-width: 100%;
        height: auto;
    }

#form {
    text-align: left;
    ;
    width: 40%;
    float: right;
}

.my-form #form2 {
    display: block;
}

.my-form input[type="text"], [type="email"], [type="tel"], .my-form textarea {
    padding: 8px;
    width: 55%;
}

.my-form input[type="number"] {
    width: 8%;
}

.my-form select {
    display: block;
}

.my-form input {
    padding: 10px 15px;
    background-color: white;
    color: goldenrod;
    border: none;
    border-radius: 6px;
}

.form-group-radio input[type="radio"] {
        accent-color: goldenrod;
    }

.my-form textarea {
    padding: 10px 15px;
    background-color: white;
    color: goldenrod;
    border: none;
    border-radius: 6px;
}

.my-form #formButton {
    padding: 20px 30px;
    background-color: #5c3798;
    color: goldenrod;
    border: none;
    border-radius: 6px;
}

    .my-form #formButton:hover {
        background-color: goldenrod;
        color: #5c3798;
    }

.my-form select {
    padding: 5px 7px;
    background-color: white;
    color: #5c3798;
    border: none;
    border-radius: 6px;
}
